@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --body-bg: #EEEEEE;
    --text-color: #222831;
    --box-bg: #00acb55d;
    --box-border: #393E46;
    --bubble: #222831;
    --edit-button-bg: #ffffff;
    --edit-button-border: #222831;
    --edit-button-text-color: #222831;
    --remove-button-bg: #222831;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--body-bg);
    color: var(--text-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    max-width: 1100px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.container button{
    font-family: 'Jost', sans-serif;
}

.container #page-title{
    font-size: 40px;
    font-weight: 600;
    width: 100%;
}

.container .task-input-section{
    width: 100%;
}

.container .task-input-section #input-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.container .task-input-section #input-form .title{
    font-size: 19px;
    font-weight: 500;
    width: 100%;
    text-align: left;
}

.container .task-input-section #input-form .task-input{
    background-color: var(--box-bg);
    border: 1px solid var(--box-border);
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    height: 40px;
    padding: 0 10px;
    color: var(--primary-900);
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.container .task-input-section #input-form .task-input::placeholder{
    color: var(--text-color);
}

.container .task-input-section #input-form .task-input::-ms-input-placeholder{
    color: var(--text-color);
}

.container .task-input-section #input-form .submit-button{
    background-color: var(--box-bg);
    border: 1px solid var(--box-border);
    width: 100px;
    height: 34px;
    border-radius: 5px;
    color: var(--text-color);
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    align-self: flex-end;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.to-do-list-container{
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.to-do-list-container .title{
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    border-bottom: 2px solid var(--text-color);
    padding-bottom: 5px;
}

.to-do-list-container .to-do-list-item-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.to-do-list-container .to-do-list-item{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.to-do-list-container .to-do-list-item .left-part{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.to-do-list-container .to-do-list-item .left-part .bubble{
    width: 15px;
    height: 15px;
    border-radius: 995px;
    border: 2px solid var(--bubble);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-do-list-container .to-do-list-item .left-part .bubble::after{
    content: '';
	display: block;
	width: 0px;
	height: 0px;
    background-color: var(--bubble);
	border-radius: 995px;
	transition: 0.1s ease-in-out;
}

.to-do-list-container .to-do-list-item .left-part .bubble.done::after{
    content: '';
	display: block;
	width: 8px;
	height: 8px;
    background-color: var(--bubble);
	border-radius: 995px;
	transition: 0.2s ease-in-out;
}

.to-do-list-container .to-do-list-item .left-part .display-to-do{
    background-color: var(--box-bg);
    border: 1px solid var(--box-border);
    font-size: 15px;
    box-sizing: border-box;
    height: 35px;
    flex-grow: 1;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
    color: var(--text-color);
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    cursor: initial;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.to-do-list-container .to-do-list-item .left-part .display-to-do.done{
    text-decoration: line-through;
    color: var(--text-color);
}

.to-do-list-container .to-do-list-item .right-part{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    gap: 10px;
}

.to-do-list-container .to-do-list-item .right-part button{
    flex-grow: 1;
    height: 35px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.to-do-list-container .to-do-list-item .right-part .edit-button{
    background: #ffffff;
    border: 1px solid var(--edit-button-border);
    color: var(--edit-button-text-color);
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
}

.to-do-list-container .to-do-list-item .right-part .remove-button{
    height: 35px;
    font-size: 15px;
    background: var(--remove-button-bg);
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.empty-message-container{
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.empty-message-container.hide{
    display: none;
}